# Bloque l'accès au répertoire app/ qui va contenir du code applicatif
# Et bloque l'accès à tous les sous répertoires Deny from all  
Deny from all

# sudo chmod -R 0755 /var/www/html/mysite/images/ if denied access